@import "../../styles.css";

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.episode-card {
  width: 400px;
  height: 200px;
  margin: 24px;
  padding: 16px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  cursor: pointer;
}

.episode-card:hover {
  box-shadow: 0px 2px 1px -1px rgba(253, 90, 96, 1),
    0px 1px 1px 0px rgba(253, 90, 96, 1), 0px 1px 3px 0px rgba(253, 90, 96, 1);
}

.my-card {
  height: 350px;
  width: 350px;
}
